.rotate-center {
    animation: rotate-center 5s infinite linear both;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid-list {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .grid-list>li {
        width: 330px;
    }
}

@media (min-width: 320px) and (max-width: 450px) {
    .hero-content {
        margin-bottom: 50px;
    }

    .testimonial-section {
        width: 80% !important;
    }

    .accordion {
        margin: 0 auto !important;
        width: 80%;
        margin-bottom: 50px !important;
    }

    .flex-footer {
        flex-direction: column;
        gap: 40px !important;
        align-items: center;
        text-align: center;
    }

    .logo-w {
        align-self: flex-end;
    }
}

.rotate-center-slow {
    animation: rotate-center-slow 10s linear infinite both;
}

@keyframes rotate-center-slow {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.scale-slow {
    animation: scale-slow 3s linear infinite both;
}

@keyframes scale-slow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.rotate-scale-down-diag-1:hover {
    animation: rotate-scale-down-diag-1 0.7s linear both;
}

@keyframes rotate-scale-down-diag-1 {
    0% {
        transform: scale(1) rotate3d(1, 1, 0, 0deg);
    }

    50% {
        transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
    }

    100% {
        transform: scale(1) rotate3d(1, 1, 0, -360deg);
    }
}

.slide-in-top {
    animation: slide-in-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

